.filtro {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 20px;
}

.btncategorias {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btncategorias button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  transition: .2s;
}

.btncategorias button.ativo {
  background: #ff4f8b;
  color: white;
  border-color: #ff4f8b;
}

.categorias {
  display: flex;
  justify-content: space-between;
}

.escolhas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.toggle {
  display: flex;
  gap: 10px;
}

.toggle button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle button.ativo {
  background: #ff4f8b20;
  border-radius: 8px;
}

.mainProdutos {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 30px;
    margin: 30px auto;
}
    
.divp {
    border-radius: 5px;
    border: 1px solid #808080;
}

.divp p {
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.NFav {
    background-color: #EED0F2;
    border: none;
    padding: 4px 15px;
    border-radius: 5px;
}
 
.paginacao {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 40px 0;
}

.pagina {
  padding: 8px 14px;
  border: none;
  background-color: #eee;
  border-radius: 6px;
  cursor: pointer;
}

.pagina.ativa {
  background-color: #ff5fa2;
  color: white;
  font-weight: bold;
}

section.gridProdutos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 0px;
    width: 80%;
    margin: auto;
}

section.listaProdutosAdm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* gap: 8px; */
}

.produtoAdm {
    width: 80%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.produtoAdm img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.ajusteCardProduto {
    display: flex;
    gap: 26px;
}

button.fav-carrinho {
    height: 25px;
    width: 10%;
    background-color: transparent;
    border: none;
}

img.fav {
    width: 100%;
    height: 20px;
}

.acoesAdm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}