.home {
    background-color: #F6EFF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    width: 100%;
    height: 500px;
    background-image: url('../../assets/home/banner-index.png');
    background-size: cover;
    display: flex;
    align-items: center;
}

p {
    color: #332e2e;
}

.hero-text p {
    color: #fff;
}

.hero-text {
    width: 50%;
    color: #FFFFFF;
    margin-left: 120px;
}

.hero-text h1 {
    font-family: "Instrument Serif", serif;
    font-size: 56px;
    line-height: 40px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
}

.hero-btn, .product-btn {
    border: none;
    padding: 12px 24px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.pronta-entrega, .galeria {
    background-color: #FF69B4;
    color: #FFFFFF;
}

.encomendar {
    color: #0A111A;
    background-color: #EDC1F2;
}

.why-choose-us {
    width: 100%;
    text-align: center;
    padding: 45px;
}

.why-choose-us h1, .our-products h1, .testemonials h1 {
    font-family: 'Instrument Serif', serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.motives {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    padding: 20px;
}

.motive-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.motive-card .icon-margin {
    background-color: #FF69B4;
    width: 18px;
    height: 18px;
    padding: 15px;
    border-radius: 40px;
}

.icon-margin img {
    width: 100%;
    height: auto;
}

.motive-card h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
}

.our-products {
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.our-products p {
    text-align: center;
}

.product {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    font-size: 1rem;
    text-align: center;
    font-size: clamp(14px, 2vw, 16px);
}

.product button {
    font-size: clamp(14px, 2vw, 16px);
}

.product img {
    width: 100%;
    height: auto;
    background-size: 200%;
    height: auto;
    border-radius: 8px;
}

.product button {
    margin-top: 20px;
}

section {
    margin-bottom: 40px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
}

.testemonials {
    width: 100%;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container-carrossel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.carrossel {
    width: 1200px;
    flex: 1;
    display: flex;
    /* border: 2px solid #444; */
    gap: 10px;
    overflow: hidden;
}

.testemonial-messages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    transition: transform 0.5s ease-in;
    animation: scrollInfinito 20s infinite linear;
    /* ^ a animação acima é o que faz o carrossel andar pros lados e ser infinito */
}

.testemonial-card {
    /* width: 350px; */
    flex: 0 0 30%;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 6px;
    gap: 5px;
}

.carrossel:has(.testemonial-card):hover {
    .testemonial-messages{
        animation-play-state: paused;
    }
}

.testemonial-card p {
    font-size: 14px;
    color: #332e2e;
    padding: 0;
    margin: 0;
}

.review-stars {
    display: flex;
    margin: 0;
    padding: 0;
}

.review-stars li {
    list-style: none;
    font-size: small;
    color: #FF69B4;
}

.info-user {
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 600;
}

.placeholder {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 40px;
    /* background-color: #DDDDDD; */
    margin-right: 10px;
}

@keyframes scrollInfinito {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

button {
    background-color: white;
    border-radius: 50px;
    padding: 8px;
    border: 0;
    margin: 20px;
}

.contato {
    width: 100%;
    height: 260px;
    background: url('../assets/home/section.png');
    background-image: url('../assets/home/section.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}

.contato-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato h2 {
    font-family: "Instrument Serif";
    font-size: 32px;
    font-weight: 400;
}

.contato p {
    color: #252424;
}

.contato button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    background-color: #FF69B4;
    color: white;
    padding: 10px 22px;
    font-size: 18px;
    border-radius: 6px;
}